// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$dark: #000000;
$font-family-2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$primary: #5878bc;